<div>
	<h1>Welcome to EverybodyWins</h1>
	<h3>More content</h3>

	<%= link_to_if(current_admin == nil, "Login", new_admin_session_path)%>
	<%= link_to_if(current_admin == nil, "Sign Up", new_admin_registration_path)%>
	
	
</div>